/* Access to global styles */
@import url('./../../index.css');

/* Page Styles */ 
.StartSection {
    position: relative;
    height: var(--screen-height);
}

.StartSection main {
    padding-block-start: 80px;
    padding-inline: 5%;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: var(--mar-8);
}

.StartSection main .mascot {
    height: 80px;
    aspect-ratio: 1/1;
    background-color: var(--color-light);
    border-radius: 50%;
}

.StartSection main .mascot-dialogue {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-block: var(--pad-8);
    padding-inline: var(--pad-16);
    background-color: var(--color-light);
}

.StartSection .selections {
    height: 500px;
    overflow-y: auto;
    margin-top: var(--mar-32);
    padding-inline: 5%; 
}

.StartSection .dropdown-selected-container {
    display: flex;
    justify-content: space-between; 
    border-radius: 5px;
    padding: var(--pad-16);  
    margin-block: var(--mar-8);
    background-color: var(--color-light);
    cursor: pointer;
}

.StartSection .dropdown-selected-container img {
    height: 24px;
    aspect-ratio: 1/1;
}

.StartSection .dropdown-option-list .dropdown-option {
    width: 94%; 
    margin-block: var(--mar-8);
    margin-inline: auto;
    border-radius: 5px;
    padding-block: var(--pad-16); 
    background-color: white;
}

.StartSection footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    background-color: var(--color-very-light);
}

.StartSection .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: var(--pad-8);
}

.StartSection .navigations {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-12);
    color: var(--color-dark);
    cursor: pointer;
}

.StartSection .navigations img {
    width: 24px;
    aspect-ratio: 1/1;
    filter: opacity(0.5);
    margin-bottom: var(--mar-4);
}






