/* MAIN GROUP: MAP VIEW */
.MapView {
  width: 100%;
  height: 100dvh;
  z-index: 0;

}

/* MAIN GROUP: LOADING SCREEN */
.marker-info-panel {
  padding: var(--pad-32);
  background: var(--color-primary);
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-Index: 999;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  height: 42%;
  color: white;
  
}
.marker-info-panel::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 20%; 
  z-index: -1;
  background-image: url('./../../images/bg/pin-info-ng.png');
  background-size: cover;
}

.map-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  min-height: 400px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.spinner {
  border: 4px solid #ddd;
  border-top: 4px solid #ff8c00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}  



/* IMAGE STYLES */
.image{
  max-height: 100%;
  width: auto;
  display: block;
}

.image-gallery{
  display: flex;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  height: 100%;
}
.image-container::-webkit-scrollbar {
  display: none;
}

.image-container {
  padding-top: 0.5em;
  height: 200px;
}
  

.panel-handle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.panel-handle h2 {
  width: 30ch;
  font-family: var(--ff-heading);
  font-size: var(--fs-24);
}
.panel-handle .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--color-accent-2);
}
.panel-handle .close-btn img {
  height: 20px;
  width: 20px;
}
.separator {
  border: solid 1px var(--color-accent-2);
  opacity: 50%;  
}
.marker-info-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  color: var(--color-accent-2);
  font-weight: var(--fw-semi);
}
.marker-info-header .header-btn {
  width: 10ch;
  padding: var(--pad-4);
  font-size: var(--fs-12);
  text-align: center;
  opacity: 50%;
}
.marker-info-header .active {
  opacity: 100%;
  border-bottom: solid 1px var(--color-accent-2);
}


.marker-description {
  overflow-y: auto;
  max-height: 240px;
  padding: 0.5em;
  font-size: var(--fs-12);
}

.marker-description h3, .marker-description p, .image-container{
  font-weight: var(--fw-semi);
  font-size: var(--fs-14);
}