/* MAIN GROUP: MAP VIEW */
.MapView {
  width: 100%;
  height: 100dvh;
  z-index: 0;

}

/* MAIN GROUP: LOADING SCREEN */
.marker-info-panel {
  padding: 12px;
  padding-bottom: 100px;
  background: white;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-Index: 999;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  height: 42%;
}



/* .marker-info-panel p, .marker-info-panel h2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.map-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  min-height: 400px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.spinner {
  border: 4px solid #ddd;
  border-top: 4px solid #ff8c00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}  

/* .map-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.marker-info-panel {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 12px;
  padding-bottom: 70px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* .marker-info-panel p, .marker-info-panel h2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */


/* IMAGE STYLES */
.image{
  max-height: 100%;
  width: auto;
  display: block;
}

.image-gallery{
  display: flex;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  height: 100%;
}
.image-container::-webkit-scrollbar {
  display: none;
}

.image-container {
  padding-top: 0.5em;
  height: 90%;
}
  

.panel-handle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.marker-info-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
}

.marker-description {
  overflow-y: auto;
  max-height: 240px;
  padding: 0.5em;
}
