/* Access to global styles */
@import url('./../../index.css');

/* MAIN GROUP: BACKGROUND */
.PersonalPinSection {
    position: relative;
    z-index: 1;
    width: var(--screen-width);
    height: 100dvh;
    margin: auto;
    padding: var(--pad-24) var(--pad-48);
    background-color: var(--color-background);
}

.PersonalPinSection::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 20%; 
    z-index: -1;
    background-image: url('./../../images/bg/mountain-1.jpg');
    background-size: cover;
}
 
/* MAIN GROUP: HEADER */
.PersonalPinSection header {
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 40px;
    padding-top: var(--pad-32);
    padding-inline: var(--pad-16);
    background-color: var(--color-primary);


    /* SUBGROUP: PROFILE */
    .profile {
        width: 100%;
        display: flex;
    }
    
    /* SUBGROUP: LOGO */
    .logo img {
        height: 60px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    
    /* SUBGROUP: PROFILE INFO */
    .information {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: var(--mar-16);
        color: white;
    }
    .information .name {
        font-size: var(--fs-28);
        font-family: var(--ff-heading);
        line-height: 100%;
        letter-spacing: 1px;
    }
    .information .email {
        margin-top: var(--mar-8);
        font-size: var(--fs-14);
    }

    /* SUBGROUP: LOGO */
    .buttons .logout-icon {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--color-accent-2);
    }
    .logout-icon img {
        height: 20px;
        width: 20x;
    }
}   

/* MAIN GROUP: DASHBOARD */
.PersonalPinSection .dashboard {
    margin-top: 170px;
    
    /* SUBGROUP: HEADING*/
    hgroup {
        color: white;
    }
    hgroup h1 {
        font-size: var(--fs-32);
        font-family: var(--ff-heading);
    }
    hgroup h2 {
        font-size: var(--fs-14);
    }

    /* SUBGROUP: DASHBOARD OPTIONS */
    .dashboard-options {
        margin-top: var(--mar-32);
    }
    .dashboard-options .option-btn {
        width: 100%;
        min-height: 70px;
        display: flex;
        align-items: center;
        padding: var(--pad-16);
        border-radius: 10px;
        margin-bottom: var(--mar-16);
        box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.2);;
        background-color: var(--color-primary-80a);
        color: white;
    }
    .option-btn img {
        height: 24px;
        aspect-ratio: 1/1;
        margin-right: var(--mar-16);
    }
    .option-btn .title {
        font-family: var(--ff-heading);
        font-size: var(--fs-18);
        line-height: 100%;
        letter-spacing: 0.5px;
        opacity: 50%;
    }
    .option-btn .subtitle {
        font-size: var(--fs-11);
        padding-top: var(--pad-4);
        letter-spacing: 0.25px;
        opacity: 50%;
    }
}


.PersonalPinSection main {
    padding-block-start: 80px;
    padding-inline: 5%;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: var(--mar-8);
}

.PersonalPinSection main .mascot {
    height: 80px;
    aspect-ratio: 1/1;
    background-color: var(--color-light);
    border-radius: 50%;
}

.PersonalPinSection main .mascot-dialogue {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-block: var(--pad-8);
    padding-inline: var(--pad-16);
    background-color: var(--color-light);
}

.PersonalPinSection .selections {
    height: 500px;
    overflow-y: auto;
    margin-top: var(--mar-32);
    padding-inline: 5%; 
}

.PersonalPinSection .dropdown-selected-container {
    display: flex;
    justify-content: space-between; 
    border-radius: 5px;
    padding: var(--pad-16);  
    margin-block: var(--mar-8);
    background-color: var(--color-light);
    cursor: pointer;
}

.PersonalPinSection .dropdown-selected-container img {
    height: 24px;
    aspect-ratio: 1/1;
}

.PersonalPinSection .dropdown-option-list .dropdown-option {
    width: 94%; 
    margin-block: var(--mar-8);
    margin-inline: auto;
    border-radius: 5px;
    padding-block: var(--pad-16); 
    background-color: white;
}

.PersonalPinSection footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    background-color: var(--color-very-light);
}

.PersonalPinSection .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: var(--pad-8);
}

.PersonalPinSection .navigations {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-12);
    color: var(--color-dark);
    cursor: pointer;
}

.PersonalPinSection .navigations img {
    width: 24px;
    aspect-ratio: 1/1;
    filter: opacity(0.5);
    margin-bottom: var(--mar-4);
} 

/* MAIN GROUP: FOOTER */
.PersonalPinSection footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-footer);

    /* SUBGROUP: NAVIGATION */
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;   
        align-items: center;
        padding: 0;
        list-style: none;
    }
    nav .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 20%;
    }
    nav .active {
        opacity: 100% !important;
    }
    nav .icon {
        width: 24px;
        height: 24px;
    }
    nav .label {
        font-size: var(--fs-12);
        font-weight: var(--fw-med);
        letter-spacing: 0.5px;
        color: var(--color-accent-2);
    }
}




