/* Access to global styles */
@import url('./index.css');

/* Page Styles */ 
.App {
    width: var(--screen-width);
    height: var(--screen-height);
    margin: auto;
    background-color: white;
}

